In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv("M4_Estaciones.csv")
dfCercanias = pd.read_csv("M5_Estaciones.csv")


#Tratamos dataset metro
columnas_buenas = df.columns[df.isnull().sum() < df.shape[0]*0.9]

df = df[columnas_buenas]
df = df[df.TIPOVIA.notna()]

columnas_utiles = [
    "DENOMINACION",
    "BARRIO",
    "ZONATRANSPORTE",
    "FECHAINICIO",
    "LINEAS",
    "TIPO",
    "GRADOACCESIBILIDAD",
    "TIPOVIA",
    "X",
    "Y",
    ]
df = df[columnas_utiles]

#Tratamos dataset cercanías
dfCercanias = dfCercanias[["DENOMINACION","X","Y","LINEAS"]]
dfCercanias = dfCercanias[dfCercanias.LINEAS.notna()]


print("Número de paradas de metro:",df.shape[0])
print("Número de paradas de renfe:",dfCercanias.shape[0])

print()
print("*"*10, "METRO", "*"*10)
for campo in df.columns:
    print(campo,":",df[campo][274])


print()
print("*"*10, "RENFE", "*"*10)
for campo in dfCercanias.columns:
    print(campo,":",dfCercanias[campo][105])

Número de paradas de metro: 291
Número de paradas de renfe: 95

********** METRO **********
DENOMINACION : FUENLABRADA CENTRAL
BARRIO : nan
ZONATRANSPORTE : 058-024
LINEAS : 12
TIPO : U
GRADOACCESIBILIDAD : T
TIPOVIA : Calle
X : 432197.0
Y : 4459646.0
FECHAALTA : 20030120
FECHAINICIO : 20030101

********** RENFE **********
DENOMINACION : FUENLABRADA
X : 432201
Y : 4459646
LINEAS : C-5

In [ ]:
#Añadir info de cercanías a df de metro

# Tolerancia para considerar que una estación de Metro y una de Renfe son la misma (en metros)
TOLERANCIA = 100  # metros


df['RENFE'] = None
for idx, row in dfCercanias.iterrows():
    x_c, y_c = row['X'], row['Y']
    lineas_c = row['LINEAS']

    # Encontrar estaciones de Metro dentro de la tolerancia (misma estación)
    mask = (np.abs(df['X'] - x_c) <= TOLERANCIA) & (np.abs(df['Y'] - y_c) <= TOLERANCIA)
    
    # Asignar las líneas de Cercanías
    df.loc[mask, 'RENFE'] = lineas_c

             DENOMINACION    LINEAS RENFE
0            ARROYOFRESNO         7  None
1    RIVAS URBANIZACIONES         9  None
2               NOVICIADO  2, 3, 10  None
3                    LAGO        10  None
4                   BATAN        10  None
..                    ...       ...   ...
286      MOSTOLES CENTRAL        12   C-5
287              EL CASAR     3, 12   C-3
288         CASA DE CAMPO     5, 10  None
289         CASA DE CAMPO     5, 10  None
290              EL CASAR     3, 12   C-3

[291 rows x 3 columns]

In [ ]:
# Convertir tipos de datos
df['LINEAS'] = df['LINEAS'].apply(lambda x: x.split(',') if pd.notnull(x) else [])
df['RENFE'] = df['RENFE'].apply(lambda x: x.split(',') if pd.notnull(x) else [])

['7',
 '9',
 '2, 3, 10',
 '10',
 '10',
 '1, 2, 3',
 '1, 2, 3',
 '1, 2, 3',
 '6, 8, 10',
 '9',
 '6, 8, 10',
 '4',
 '9',
 '5',
 '4',
 '3',
 '1',
 '3',
 '3',
 '10, 12',
 '7',
 '7',
 '7',
 '1',
 '7, 10',
 '7',
 '7',
 '7',
 '9',
 '7',
 '9',
 '9',
 '10',
 '9',
 '9',
 '9',
 '9',
 '3, 4, 6',
 '4, 8',
 '3, 4, 6',
 '7',
 '3, 4, 6',
 '3, 5',
 '3, 5',
 '2, 4',
 '1',
 '12',
 '2, 5, R',
 '2, 5, R',
 '6, 11',
 '8',
 '6, 11',
 '4, 6, 7, 9',
 '4, 6, 7, 9',
 '4, 6, 7, 9',
 '4, 6, 7, 9',
 '2, 6',
 '1, 2, 6',
 '1, 2, 6',
 '1, 2, 6',
 '2, 6',
 '10',
 '4',
 '9',
 '1',
 '2, 3, 10',
 '3',
 '10',
 '10',
 '10',
 '10',
 '1',
 '1',
 '9',
 '3',
 '1',
 '1',
 '2, 5, R',
 '4, 5, 10',
 '1',
 '1',
 '4',
 '2',
 '2, 4',
 '2, 9',
 '2',
 '2',
 '2',
 '7',
 '7',
 '1, 4',
 '1, 4',
 '7',
 '8',
 '9',
 '5',
 '3',
 '3',
 '6',
 '6',
 '6',
 '1',
 '3',
 '12',
 '1',
 '1, 10',
 '5',
 '6',
 '6',
 '6',
 '6',
 '6',
 '8',
 '1, 6',
 '12',
 '12',
 '4',
 '4',
 '4, 5, 6',
 '10',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4, 8',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5, 9',
 '5',
 '1, 4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '9',
 '5, 7',
 '5, 7',
 '6',
 '6, 7',
 '6, 7',
 '9',
 '9',
 '1, 6',
 '1',
 '9',
 '2, 4',
 '2, 9',
 '7, 10',
 '5',
 '6',
 '11',
 '7',
 '7',
 '5',
 '1, 10',
 '2, 3, 10',
 '7',
 '9',
 '1',
 '9',
 '7',
 '1, 5',
 '7',
 '7',
 '7',
 '7',
 '7',
 '1',
 '1',
 '1',
 '1',
 '1, 5',
 '1',
 '2, 7',
 '10',
 '2, 4',
 '1, 4',
 '4, 5, 10',
 '4, 5, 10',
 '3, 5',
 '3, 6',
 '5',
 '3, 5',
 '3, 6',
 '3, 6',
 '6, 10, R',
 '6, 10, R',
 '6, 10, R',
 '10',
 '10',
 '10',
 '1',
 '10, 12',
 '10',
 '11',
 '11',
 '1',
 '12',
 '12',
 '12',
 '12',
 '6',
 '12',
 '12',
 '12',
 '12',
 '12',
 '2',
 '2',
 '6',
 '5, 6',
 '5, 6',
 '3',
 '2, 7',
 '2',
 '12',
 '12',
 '12',
 '12',
 '12',
 '1',
 '12',
 '12',
 '3',
 '12',
 '12',
 '1',
 '5',
 '11',
 '10',
 '8',
 '1',
 '2',
 '11',
 '6',
 '9',
 '7',
 '7',
 '7',
 '8, 9',
 '8, 9',
 '7',
 '4, 5, 6',
 '4, 5, 6',
 '5, 9',
 '3, 6',
 '10',
 '10',
 '10',
 '10',
 '10',
 '6',
 '6, 8, 10',
 '2, 5',
 '1, 9, 10',
 '1, 9, 10',
 '1, 9, 10',
 '3',
 '9',
 '1, 10',
 '10',
 '8',
 '1, 10',
 '9',
 '2, 5',
 '12',
 '5',
 '2',
 '9',
 '11',
 '2',
 '6, 9',
 '6, 9',
 '5',
 '7',
 '12',
 '12',
 '12',
 '3, 12',
 '5, 10',
 '5, 10',
 '3, 12']